////
/// Base styles
///
/// @group abstracts
///
/// @access public
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

html {
    @include box-sizing('border-box');
    @include prefixer(text-size-adjust, none, webkit);
    font: {
        family: sans-serif;
        size: @root-font-size;
    }
    direction: ltr;
    text-align: center;
    overflow-x: hidden !important;
}

*,
*::before,
*::after {
    @include box-sizing('inherit');
}

body {
    font {
        @include font-size(14);
        family: $helvetica;
    }
    line-height: 160%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden !important;
    @include word-wrap('break-word');
    background-color: $background-color;
    color: $font-color;
}
