/** export-ignore
/app -export-ignore
/app/** -export-ignore
/assets -export-ignore
/assets/** -export-ignore
/dist -export-ignore
/dist/** -export-ignore
/lang -export-ignore
/lang/** -export-ignore
/partials -export-ignore
/partials/** -export-ignore
/templates -export-ignore
/templates/** -export-ignore
/composer.json -export-ignore
/composer.lock -export-ignore
/functions.php -export-ignore
/index.php -export-ignore
/LICENSE -export-ignore
/screenshot.png -export-ignore
/style.css -export-ignore
