language: php
dist: trusty
sudo: false

php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

before_install: composer self-update
install: composer install --no-interaction

script:
  - composer run test
  - npm run build

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
    - node_modules
