language: php
dist: xenial
sudo: false

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

before_install:
  - composer self-update

install:
  - composer install --no-interaction --no-scripts

script:
  - composer run test

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

cache:
  directories:
    - $HOME/.composer/cache
    - vendor
