////
/// Mixins
///
/// @group abstracts
///
/// @access public
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

/// Box Sizing
///
/// @param {string} $sizing
// @mixin box-sizing($sizing) {
//     -webkit-box-sizing: $sizing;
//     -moz-box-sizing: $sizing;
//     box-sizing: $sizing;
// }

/// Word Wrap
///
/// @param {string} $wrap
@mixin word-wrap($wrap) {
    -ms-word-wrap: $wrap;
    word-wrap: $wrap;
}

/// Border Radius
///
/// @param {string} $radius
@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

/// Font size
///
/// @param {number} $size - Font size
@mixin font-size($size) {
    @if type-of($size) != 'number' {
        @warn 'Size should be a number';
    }

    size: ($size * $root-font-size);
    // size: ($size * unitless($root-font-size) * 1em);// unitless?
}

/// Inline-block
///
/// @output `inline-block` style rules
@mixin inline-block {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

/// Helper mixin to size elements
///
/// @param {Number} $width - Width
/// @param {Number} $height ($width) - Height
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

/// Clear Fix
///
/// @output Rules to clear floats
@mixin clearfix {
    clear: both;
    content: "";
    display: table;
}
