/**
 * Footer
 */

#footer {
    @apply mt-5 first:mt-0 pb-4 hobbit;

    .widget-area {
        @apply sm:flex sm:flex-wrap sm:items-start;

        > .widget {
            @apply sm:w-[48.8%]
                sm:odd:mr-[2.35%]
                lg:w-[32.4%]
                lg:odd:mr-[1.35%]
                lg:mr-[1.35%];

            &:nth-child(3n) {
              @apply lg:mr-0;
            }

            &:nth-child(2) {
                @apply sm:mt-0;
            }

            &:nth-child(3) {
                @apply lg:mt-0;
            }
        }
    }
}

#colophon {
    @apply my-5 first:mt-0 last:mb-0 text-center;

    &,
    small {
        @apply text-[0.8125rem];
    }
}
