/**
 * Sidebar
 */

.site-sidebar {
    @apply hobbit
        sm:max-lg:-m-2
        sm:max-lg:flex
        sm:max-lg:flex-wrap
        sm:max-lg:items-start;

    > .widget {
        @apply sm:max-lg:mt-0 sm:max-lg:p-2 sm:max-lg:w-1/2;
    }
}
