/**
 * Table
 */

table {
    @apply w-full
        my-5
        first:mt-0
        last:mb-0
        text-[0.96em]
        border-collapse
        border-spacing-0;

    &.aligncenter {
        @apply table;
    }

    caption {
        @apply mb-2 font-bold;
    }
}

tr,
td,
th,
tfoot,
thead,
tbody {
    @apply m-0 border-0;
}

tr {
    @apply border-y border-gray-300;

    tbody & {
        @apply even:bg-gray-50;
    }
}

td,
th {
    @apply py-2 px-3;
}

th {
    @apply font-bold;

    text-align: inherit;
}
