/**
 * Basic styles
 */

:root {
    @include box-sizing(border-box);

    text-size-adjust: none;
    font-family: sans-serif;
    font-size: 10px;
    direction: ltr;
    text-align: center;
    overflow-x: hidden !important;
}

body {
    word-wrap: break-word;
    font-family: $helvetica;
    font-size: map-get($jentil-font-size, small);
    line-height: map-get($jentil-line-height, normal);
    text-align: initial;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden !important;
    background-color: #fff;
    color: #333;
}

/** Rebuild normalized styles */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

/** What Input */

[data-whatintent=mouse],
[data-whatintent=touch] {
    *:focus {
        outline: none;
    }
}
