/**
 * Comments
 */

.commentlist {
    @include hobbit;

    margin-left: 0;

    > li,
    .children > li {
        @include paragraph(15px);

        padding-top: 10px;
        border-top: $jentil-separator;
    }

    &,
    .children {
        list-style-type: none;
    }

    .children {
        margin-top: 12px;
    }

    .reply {
        color: map-get($jentil-font-color, lighter);
        font-size: map-get($jentil-font-size, tiny);
        line-height: map-get($jentil-line-height, normal);
        text-align: right;
    }
}

.comment-meta,
.comment-content {
    @include paragraph(10px);
}

#comments {
    @include clearfix;

    margin-top: map-get($jentil-gutter, normal);
}

#comments-list {
    margin-bottom: map-get($jentil-gutter, normal);
}

.comment-meta,
#cancel-comment-reply-link {
    line-height: map-get($jentil-line-height, normal);
    font-size: map-get($jentil-font-size, tiny);
}

.comment-meta {
    @include clearfix;

    color: map-get($jentil-font-color, lighter);

    .edit-link::before {
        content: "| ";
    }
}

#cancel-comment-reply-link {
    text-align: right;
    font-weight: normal;
}

#reply-title small {
    margin-left: 20px;
}

.comment-form {
    .form-submit {
        margin-bottom: 0;
    }
}

.comment-notes,
.logged-in-as {
    color: map-get($jentil-font-color, lighter);
    font-size: map-get($jentil-font-size, tiny);
}

.required {
    color: #f00;
}

.comment-content {
    @include clearfix;
}

.comments-closed-text {
    @include paragraph;

    color: map-get($jentil-font-color, lighter);
}
