/**
 * Layout
 */

#wrap {
    @include center(600px);
}

#main {
    @include paragraph(map-get($jentil-gutter, normal));
    // @include clearfix;

    &:first-child {
        padding-top: 20px;
    }

    &:last-child {
        padding-bottom: 20px;
    }
}

.layout-columns-1 {
    .site-sidebar {
        display: none;
    }
}

.layout-columns-2 {
    #secondary-sidebar {
        display: none;
    }
}

#content-wrap,
.site-content,
.site-sidebar {
    @include paragraph(map-get($jentil-gutter, normal));
}

/** Page Builder */

.template-post-typepage-builder-blankphp {
    padding-left: 0;
    padding-right: 0;

    #wrap {
        max-width: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
   #wrap {
       max-width: 1000px;
    }

    #content-wrap {
        display: flex;
        align-items: flex-start;
    }

    .site-sidebar,
    .site-content {
        margin-top: 0;
        margin-bottom: 0;
    }

    /** Two columns */

    .layout-columns-2 {
        .site-content {
            width: 66.6666%;
        }

        .site-sidebar {
            width: 33.3333%;
        }
    }

    .layout-sidebar-content {
        .site-sidebar {
            margin-right: map-get($jentil-gutter, normal);
            order: -1;
        }
    }

    .layout-content-sidebar {
        .site-sidebar {
            margin-left: map-get($jentil-gutter, normal);
        }
    }

    /** Three columns */

    .layout-columns-3 {
        .site-content {
            width: 50%;
        }

        #primary-sidebar {
            width: 28%;
        }

        #secondary-sidebar {
            width: 22%;
        }
    }

    .layout-sidebar-sidebar-content {
        .site-sidebar {
            margin-right: map-get($jentil-gutter, normal);
            order: -1;
        }
    }

    .layout-content-sidebar-sidebar {
        .site-sidebar {
            margin-left: map-get($jentil-gutter, normal);
        }

        #primary-sidebar {
            order: 1;
        }
    }

    .layout-sidebar-content-sidebar {
        #primary-sidebar {
            margin-left: map-get($jentil-gutter, normal);
        }

        #secondary-sidebar {
            margin-right: map-get($jentil-gutter, normal);
            order: -1;
        }
    }

    /** Page builder */

    .template-post-typepage-builder-blankphp {
        #wrap {
            max-width: none;
        }
    }
}
