/**
 * Menus
 */

.menu,
.sub-menu {
    list-style-type: none;
    list-style-image: none;
}

.menu {
    margin-left: 0;

    ul {
        margin-left: 15px;
    }

    a {
        display: block;
    }

    li {
        @include position(relative);
    }
}

.sub-menu {
    li {
        font-size: map-get($jentil-font-size, tiny);
    }
}

.menu-toggle {
    #header & {
        @include paragraph;

        text-align: center;

        a {
            display: block;
        }
    }
}

#primary-menu {
    @include paragraph;

    .form.search {
        margin-bottom: 20px;
    }

    .skip-link {
        + * {
            margin-top: 0;
        }
    }
}

.sub-menu-toggle {
    @include position(absolute, 0 0 null null);

    background-color: transparent;
    font-size: inherit;
    width: auto;
    padding: 4px 7px;
    margin: 0;
    z-index: 1;
}

/** Header Menu */

@media (min-width: map-get($jentil-breakpoint, medium)) {
    .menu-toggle {
        #header & {
            display: none;

            & + * {
                margin-top: 0;
            }
        }
    }

    #primary-menu {
        margin-bottom: 0;
        display: block;

        .menu {
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0;
            }

            > li {
                flex: none;
                margin-left: 2%;

                &:first-child {
                    margin-left: 0;
                }
            }

            ul,
            li:hover ul ul,
            li li:hover ul ul,
            li li li:hover ul ul ,
            li li li li:hover ul ul,
            li li li li li:hover ul ul {
                display: none; /* Required to hide menu when inactive */
            }

            li:hover ul,
            li li:hover ul,
            li li li:hover ul ,
            li li li li:hover ul,
            li li li li li:hover ul {
                display: block;
            }

            ul {
                @include position(absolute);

                width: 200px;
                margin: 0;
                padding: 0;
                z-index: 99;

                ul {
                    top: 0;
                    left: 100%;
                }
            }

            .has-js & {
                .menu-item-has-children {
                    > a {
                        padding-right: 22px;
                    }
                }

                ul,
                li:hover ul ul,
                li li:hover ul ul,
                li li li:hover ul ul ,
                li li li li:hover ul ul,
                li li li li li:hover ul ul {
                    display: block;
                }
            }
        }
    }
}
