/**
 * Toggle classes
 */

.hide {
    display: none;
}

@media (min-width: map-get($jentil-breakpoint, x-small)) {
    .max-xs {
        display: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, small)) {
    .max-sm {
        display: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
    .max-md {
        display: none;
    }

    .layout-columns-2 {
        .lc2-max-md {
            display: none;
        }
    }

    .layout-columns-3 {
        .lc3-max-md {
            display: none;
        }
    }
}

@media (min-width: map-get($jentil-breakpoint, large)) {
    .max-lg {
        display: none;
    }

    .layout-columns-2 {
        .lc2-max-lg {
            display: none;
        }
    }

    .layout-columns-3 {
        .lc3-max-lg {
            display: none;
        }
    }
}

@media (max-width: map-get($jentil-breakpoint, large) - 1px) {
    .min-lg {
        display: none;
    }

    .layout-columns-2 {
        .lc2-min-lg {
            display: none;
        }
    }

    .layout-columns-3 {
        .lc3-min-lg {
            display: none;
        }
    }
}

@media (max-width: map-get($jentil-breakpoint, medium) - 1px) {
    .min-md {
        display: none;
    }

    .layout-columns-2 {
        .lc2-min-md {
            display: none;
        }
    }

    .layout-columns-3 {
        .lc3-min-md {
            display: none;
        }
    }
}

@media (max-width: map-get($jentil-breakpoint, small) - 1px) {
    .min-sm {
        display: none;
    }
}

@media (max-width: map-get($jentil-breakpoint, x-small) - 1px) {
    .min-xs {
        display: none;
    }
}
