/**
 * Presentational Classes
 */

.screen-reader-text {
    @include screen-reader;
}

.self-clear {
    @include clearfix;
}

.p {
    @include paragraph;
}

.full-screen {
    @include full-screen;
}

.show {
    display: initial;
}

.hide {
    display: none;
}

/** Toggle elements */

.screen-min-small,
.screen-min-wide {
    display: none;
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
    /**
     * Toggle elements
     */

    .screen-max-small {
        display: none;
    }

    .screen-min-small {
        display: block;
    }
}

@media (min-width: map-get($jentil-breakpoint, wide)) {
    /**
     * Toggle elements
     */

    .screen-max-wide {
        display: none;
    }

    .screen-min-wide {
        display: block;
    }
}
