/**
 * Predefined Classes
 */

.screen-reader-text {
    @include screen-reader;
}

.self-clear {
    @include clearfix;
}

.p {
    @include paragraph;
}

.full-width {
    @include full-width;
}

.hide {
    display: none;
}

.show {
    display: initial;

    @at-root {
        article#{&},
        aside#{&},
        footer#{&},
        header#{&},
        nav#{&},
        section#{&},
        figcaption#{&},
        figure#{&},
        main#{&},
        details#{&},
        menu#{&} {
            display: block;
        }
    }
}

/** Toggle elements */

.screen-min-xs,
.screen-min-sm,
.screen-min-md,
.screen-min-lg {
    display: none;
}

@media (min-width: map-get($jentil-breakpoint, x-small)) {
    /** Toggle elements */

    .screen-max-xs {
        display: none;
    }

    .screen-min-xs {
        display: initial;

        @at-root {
            article#{&},
            aside#{&},
            footer#{&},
            header#{&},
            nav#{&},
            section#{&},
            figcaption#{&},
            figure#{&},
            main#{&},
            details#{&},
            menu#{&} {
                display: block;
            }
        }
    }
}

@media (min-width: map-get($jentil-breakpoint, small)) {
    /** Toggle elements */

    .screen-max-sm {
        display: none;
    }

    .screen-min-sm {
        display: initial;

        @at-root {
            article#{&},
            aside#{&},
            footer#{&},
            header#{&},
            nav#{&},
            section#{&},
            figcaption#{&},
            figure#{&},
            main#{&},
            details#{&},
            menu#{&} {
                display: block;
            }
        }
    }
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
    /** Toggle elements */

    .screen-max-md {
        display: none;
    }

    .screen-min-md {
        display: initial;

        @at-root {
            article#{&},
            aside#{&},
            footer#{&},
            header#{&},
            nav#{&},
            section#{&},
            figcaption#{&},
            figure#{&},
            main#{&},
            details#{&},
            menu#{&} {
                display: block;
            }
        }
    }
}

@media (min-width: map-get($jentil-breakpoint, large)) {
    /** Toggle elements */

    .screen-max-lg {
        display: none;
    }

    .screen-min-lg {
        display: initial;

        @at-root {
            article#{&},
            aside#{&},
            footer#{&},
            header#{&},
            nav#{&},
            section#{&},
            figcaption#{&},
            figure#{&},
            main#{&},
            details#{&},
            menu#{&} {
                display: block;
            }
        }
    }
}
