////
/// Comments
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kusi Adusei](https://twitter.com/akadusei)
////

/**
 * Comments
 */

.commentlist {
    @include hobbit;
    
    margin: auto auto 10px 0;
    padding: 10px auto;
    // border-top: $jentil-separator;
    // border-bottom: $jentil-separator;

    > li,
    .children > li {
        @include paragraph(10px);

        padding-bottom: 10px;
        border-bottom: $jentil-separator;

        &:first-child {
            margin-top: 10px;
        }
    }

    &,
    .children {
        list-style-type: none;
    }

    .children {
        margin-top: map-get($jentil-gutter, small);
        padding-top: map-get($jentil-gutter, small);
        border-top: $jentil-separator;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top-width: 0;
        }

        > li {
            &:last-child {
                border-bottom-width: 0;
            }
        }
    }

    .reply {
        color: $jentil-font-lighter;
        font-size: map-get($jentil-font-size, tiny);
        line-height: map-get($jentil-line-height, normal);
        text-align: right;
    }
}

.comment-meta,
.comment-content {
    @include paragraph(10px);
}

#comments {
    @include clearfix;
    
    margin-top: map-get($jentil-gutter, normal);
}

#comments-list {
    margin-bottom: map-get($jentil-gutter, normal);
}

.comment-meta,
#cancel-comment-reply-link {
    line-height: map-get($jentil-line-height, normal);
    font-size: map-get($jentil-font-size, tiny);
}

.comment-meta {
    @include clearfix;
    
    color: $jentil-font-lighter;

    .edit-link::before {
        content: "| ";
    }
}

#cancel-comment-reply-link {
    text-align: right;
    font-weight: normal;
}

#reply-title small {
    margin-left: 20px;
}

.comment-author {
    .avatar {
        @include float(left);
        
        margin-right: 10px;
    }
}

.comment-form {
    .form-submit {
        margin-bottom: 0;
    }
}

.comment-notes,
.logged-in-as {
    color: $jentil-font-lighter;
    font-size: map-get($jentil-font-size, tiny);
}

.required {
    color: #f00;
}

.comment-content {
    @include clearfix;
}

.comments-closed-text {
    @include paragraph;
}
