////
/// Footer
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

/**
 * Footer
 */

#footer {
    @include paragraph;
    @include hobbit;

    padding-bottom: 10px;
    margin-bottom: 0;

    .widget:last-child {
        margin-bottom: map-get($gutter, normal);
    }
}

#colophon {
    @include paragraph;
    
    text-align: center;
    line-height: $line-height-normal;
    
    &,
    small {
        font-size: $font-size-tiny;
    }
}

@media (min-width: map-get($breakpoints, medium)) {
    #footer {
        .widget-area {
            @include grid((
                v-margin: 'bottom',
                width: 25%,
                columns: '.widget',
            ));
        }

        .widget {
            margin-top: 0;
        }
    }
}
