/**
 * Forms
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; // Override normalize.css rule
}

form {
    @include paragraph;
    @include inline-block-whitespace-fix;
}

*:disabled {
    -ms-filter: 'alpha(opacity=70)' !important;
    opacity: 0.7 !important;
    cursor: default !important;
}

input,
textarea,
select,
button,
label {
    @include inline-block;
}

input,
textarea,
select,
button {
    @include border-radius(3px);

    border: $jentil-separator;
    padding: 5px 7px;
    margin-bottom: 4px;
    width: 100%;

    &:focus {
        outline: 0;
    }
}

input,
textarea,
select {
    background-color: #fff;

    &:focus {
        border-color: #ccc;
    }
}

input,
button {
    overflow: visible; /* IE6 fix */
}

input {
    &[type=checkbox],
    &[type=radio] {
        margin: auto 5px;
        width: auto;
        vertical-align: middle;
    }
}

input[type=submit],
input[type=button],
input[type=reset],
button {
    width: auto;
    height: auto;
    cursor: pointer;
    border: 0;
    padding: 7px 10px 8px;
    font-weight: bold;
    font-size: map-get($jentil-font-size, tiny);
    line-height: 100%;
    text-align: center;
    background-color: #ddd;

    &:focus {
        border-width: 0;
    }
}

/// Fix button background color not showing in opera mini
/// @link https://github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
.opera:-o-prefocus,
input[type=submit],
input[type=button],
input[type=reset],
button {
    border-right: 1px solid rgba(0,0,0,0.0);
}

label {
    cursor: pointer;
    font-size: map-get($jentil-font-size, tiny);
    width: 100%;

    > * {
       font-size: map-get($jentil-font-size, small);
    }
}

/** Search form */

.form.search {
    @include position(relative);
    @include border-radius(3px);

    margin: 0;
    padding: 1px;
    border: $jentil-separator;
    background-color: #fff;

    &:focus {
        border-color: #ccc;
    }

    input[type=search],
    button {
        margin-bottom: 0;
        border: 0;
    }

    input {
        &[type=search] {
            width: 100%;
        }
    }

    button {
        @include position(absolute, 1px 1px null null);

        font-size: 12px;
        text-align: right;
        padding: 7px 10px;
        z-index: 1;
    }
}
