/**
 * Grid
 */

.grid {
    @include grid((columns: '.column'));

    .small-1 {
        width: 8.33%;
    }

    .small-2 {
        width: 16.66%;
    }

    .small-3 {
        width: 25%;
    }

    .small-4 {
        width: 33.33%;
    }

    .small-5 {
        width: 41.66%;
    }

    .small-6 {
        width: 50%;
    }

    .small-7 {
        width: 58.33%;
    }

    .small-8 {
        width: 66.66%;
    }

    .small-9 {
        width: 75%;
    }

    .small-10 {
        width: 83.33%;
    }

    .small-11 {
        width: 91.66%;
    }

    .small-12 {
        width: 100%;
    }
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
    .grid {
        .medium-1 {
            width: 8.33%;
        }

        .medium-2 {
            width: 16.66%;
        }

        .medium-3 {
            width: 25%;
        }

        .medium-4 {
            width: 33.33%;
        }

        .medium-5 {
            width: 41.66%;
        }

        .medium-6 {
            width: 50%;
        }

        .medium-7 {
            width: 58.33%;
        }

        .medium-8 {
            width: 66.66%;
        }

        .medium-9 {
            width: 75%;
        }

        .medium-10 {
            width: 83.33%;
        }

        .medium-11 {
            width: 91.66%;
        }

        .medium-12 {
            width: 100%;
        }

        .layout-columns-2 & {
            .medium-lc2-1,
            .medium-l2c-1 {
                width: 8.33%;
            }

            .medium-lc2-2,
            .medium-l2c-2 {
                width: 16.66%;
            }

            .medium-lc2-3,
            .medium-l2c-3 {
                width: 25%;
            }

            .medium-lc2-4,
            .medium-l2c-4 {
                width: 33.33%;
            }

            .medium-lc2-5,
            .medium-l2c-5 {
                width: 41.66%;
            }

            .medium-lc2-6,
            .medium-l2c-6 {
                width: 50%;
            }

            .medium-lc2-7,
            .medium-l2c-7 {
                width: 58.33%;
            }

            .medium-lc2-8,
            .medium-l2c-8 {
                width: 66.66%;
            }

            .medium-lc2-9,
            .medium-l2c-9 {
                width: 75%;
            }

            .medium-lc2-10,
            .medium-l2c-10 {
                width: 83.33%;
            }

            .medium-lc2-11,
            .medium-l2c-11 {
                width: 91.66%;
            }

            .medium-lc2-12,
            .medium-l2c-12 {
                width: 100%;
            }
        }

        .layout-columns-3 & {
            .medium-lc3-1,
            .medium-l3c-1 {
                width: 8.33%;
            }

            .medium-lc3-2,
            .medium-l3c-2 {
                width: 16.66%;
            }

            .medium-lc3-3,
            .medium-l3c-3 {
                width: 25%;
            }

            .medium-lc3-4,
            .medium-l3c-4 {
                width: 33.33%;
            }

            .medium-lc3-5,
            .medium-l3c-5 {
                width: 41.66%;
            }

            .medium-lc3-6,
            .medium-l3c-6 {
                width: 50%;
            }

            .medium-lc3-7,
            .medium-l3c-7 {
                width: 58.33%;
            }

            .medium-lc3-8,
            .medium-l3c-8 {
                width: 66.66%;
            }

            .medium-lc3-9,
            .medium-l3c-9 {
                width: 75%;
            }

            .medium-lc3-10,
            .medium-l3c-10 {
                width: 83.33%;
            }

            .medium-lc3-11,
            .medium-l3c-11 {
                width: 91.66%;
            }

            .medium-lc3-12,
            .medium-l3c-12 {
                width: 100%;
            }
        }
    }
}

@media (min-width: map-get($jentil-breakpoint, wide)) {
    .grid {
        .wide-1 {
            width: 8.33%;
        }

        .wide-2 {
            width: 16.66%;
        }

        .wide-3 {
            width: 25%;
        }

        .wide-4 {
            width: 33.33%;
        }

        .wide-5 {
            width: 41.66%;
        }

        .wide-6 {
            width: 50%;
        }

        .wide-7 {
            width: 58.33%;
        }

        .wide-8 {
            width: 66.66%;
        }

        .wide-9 {
            width: 75%;
        }

        .wide-10 {
            width: 83.33%;
        }

        .wide-11 {
            width: 91.66%;
        }

        .wide-12 {
            width: 100%;
        }

        .layout-columns-2 & {
            .wide-lc2-1,
            .wide-l2c-1 {
                width: 8.33%;
            }

            .wide-lc2-2,
            .wide-l2c-2 {
                width: 16.66%;
            }

            .wide-lc2-3,
            .wide-l2c-3 {
                width: 25%;
            }

            .wide-lc2-4,
            .wide-l2c-4 {
                width: 33.33%;
            }

            .wide-lc2-5,
            .wide-l2c-5 {
                width: 41.66%;
            }

            .wide-lc2-6,
            .wide-l2c-6 {
                width: 50%;
            }

            .wide-lc2-7,
            .wide-l2c-7 {
                width: 58.33%;
            }

            .wide-lc2-8,
            .wide-l2c-8 {
                width: 66.66%;
            }

            .wide-lc2-9,
            .wide-l2c-9 {
                width: 75%;
            }

            .wide-lc2-10,
            .wide-l2c-10 {
                width: 83.33%;
            }

            .wide-lc2-11,
            .wide-l2c-11 {
                width: 91.66%;
            }

            .wide-lc2-12,
            .wide-l2c-12 {
                width: 100%;
            }
        }

        .layout-columns-3 & {
            .wide-lc3-1,
            .wide-l3c-1 {
                width: 8.33%;
            }

            .wide-lc3-2,
            .wide-l3c-2 {
                width: 16.66%;
            }

            .wide-lc3-3,
            .wide-l3c-3 {
                width: 25%;
            }

            .wide-lc3-4,
            .wide-l3c-4 {
                width: 33.33%;
            }

            .wide-lc3-5,
            .wide-l3c-5 {
                width: 41.66%;
            }

            .wide-lc3-6,
            .wide-l3c-6 {
                width: 50%;
            }

            .wide-lc3-7,
            .wide-l3c-7 {
                width: 58.33%;
            }

            .wide-lc3-8,
            .wide-l3c-8 {
                width: 66.66%;
            }

            .wide-lc3-9,
            .wide-l3c-9 {
                width: 75%;
            }

            .wide-lc3-10,
            .wide-l3c-10 {
                width: 83.33%;
            }

            .wide-lc3-11,
            .wide-l3c-11 {
                width: 91.66%;
            }

            .wide-lc3-12,
            .wide-l3c-12 {
                width: 100%;
            }
        }
    }
}
