////
/// Header
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

/**
 * Header
 */

#header {
    padding-top: map-get($gutter, normal);
    @include paragraph;
    @include hobbit;

    &:empty {
        display: none;
    }

    .form.search {
        margin: 0;
    }

    .search-wrap {
        @include paragraph;
    }
}
