////
/// Header
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kusi Adusei](https://twitter.com/akadusei)
////

/**
 * Header
 */

#header {
    @include paragraph;
    @include hobbit;

    padding-top: map-get($jentil-gutter, normal);

    &:empty {
        display: none;
    }

    .search-wrap {
        @include paragraph;
    }

    .form.search {
        margin: 0;
    }
}
