/**
 * Layout
 */

#wrap {
    @include center(480px);
}

#main {
    @include paragraph(map-get($jentil-gutter, normal));
    @include clearfix;

    &:first-child {
        padding-top: 20px;
    }

    &:last-child {
        padding-bottom: 20px;
    }
}

#content-wrap,
.sidebar-wrap {
    @include paragraph(map-get($jentil-gutter, normal));
}

/** One Column */

.layout-columns-1 {
    .sidebar-wrap {
        display: none;
    }
}

.layout-columns-2 {
    #secondary-sidebar-wrap {
        display: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
    #wrap {
        max-width: 960px;
    }

    #content-wrap,
    .sidebar-wrap {
        margin-top: 0;
        margin-bottom: 0;
    }

    #content-wrap {
        width: 100%;
    }

    /** Two Columns */

    .layout-columns-2 {
        #primary-sidebar-wrap {
            width: $jentil-sidebar-content;
        }
    }

    /** Two Columns: Right Sidebar */

    .layout-content-sidebar {
        #content-wrap {
            float: left;
            margin-right: -#{$jentil-sidebar-content};
        }

        #content {
            margin-right: $jentil-sidebar-content;
        }

        #primary-sidebar-wrap {
            float: right;
            padding-left: map-get($jentil-gutter, normal);
        }
    }

    /** Two Columns: Left Sidebar */

    .layout-sidebar-content {
        #content-wrap {
            float: right;
            margin-left: -#{$jentil-sidebar-content};
        }

        #content {
            margin-left: $jentil-sidebar-content;
        }

        #primary-sidebar-wrap {
            float: left;
            padding-right: map-get($jentil-gutter, normal);
        }
    }

    /** Three Columns */

    .layout-columns-3 {
        #primary-sidebar-wrap {
            width: map-get($jentil-sidebar-content-sidebar, primary);
        }

        #secondary-sidebar-wrap {
            width: map-get($jentil-sidebar-content-sidebar, secondary);
        }
    }

    /** Three Columns: Left & Right Sidebars */

    .layout-sidebar-content-sidebar {
        #content-wrap,
        .sidebar-wrap {
            float: left;
        }

        #content {
            /** Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth */
            margin-right: map-get($jentil-sidebar-content-sidebar, primary);
            margin-left: map-get($jentil-sidebar-content-sidebar, secondary);
        }

        #secondary-sidebar-wrap {
            margin-left: -100%;
            padding-right: map-get($jentil-gutter, normal);
        }

        #primary-sidebar-wrap {
            /** Set left margin to -(RightColumnWidth) */
            margin-left: - map-get($jentil-sidebar-content-sidebar, primary);
            padding-left: map-get($jentil-gutter, normal);
        }
    }

    /** Three Columns: Two Left Sidebars */

    .layout-sidebar-sidebar-content {
        #content-wrap,
        #secondary-sidebar-wrap,
        #primary-sidebar-wrap {
            float: right;
        }

        #content {
            /** Set right margin to (LeftColumnWidth + RightColumnWidth) */
            margin-left: map-get($jentil-sidebar-sidebar-content, both);
        }

        .sidebar-wrap {
            padding-right: map-get($jentil-gutter, normal);
        }

        #secondary-sidebar-wrap {
            /** Set right margin to -(LeftColumnWidth + RightColumnWidth) */
            margin-right: - map-get($jentil-sidebar-sidebar-content, both);
        }

        #primary-sidebar-wrap {
            /** Set right margin to -(RightColumnWidth) */
            margin-right: - map-get($jentil-sidebar-sidebar-content, primary);
        }
    }

    /** Three Columns: Two Right Sidebars */

    .layout-content-sidebar-sidebar {
        #content-wrap,
        #secondary-sidebar-wrap,
        #primary-sidebar-wrap {
            float: left;
        }

        #content {
            /** Set right margin to (LeftColumnWidth + RightColumnWidth) */
            margin-right: map-get($jentil-sidebar-sidebar-content, both);
        }

        .sidebar-wrap {
            padding-left: map-get($jentil-gutter, normal);
        }

        #secondary-sidebar-wrap {
            /** Set left margin to -(LeftColumnWidth + RightColumnWidth) */
            margin-left: - map-get($jentil-sidebar-sidebar-content, both);
        }

        #primary-sidebar-wrap {
            /** Set left margin to -(RightColumnWidth) */
            margin-left: - map-get($jentil-sidebar-sidebar-content, primary);
        }
    }
}

/** Page Builder */

.post-type-page-builder-blank-php {
    padding-left: 0;
    padding-right: 0;

    #wrap {
        max-width: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, wide)) {
    .post-type-page-builder-blank-php {
        #wrap {
            max-width: none;
        }
    }
}
