////
/// Menus
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

/**
 * Menus
 */

.menu,
.sub-menu {
    list-style-type: none;
    list-style-image: none;
}

.menu {
    @include inline-block-whitespace-fix;

    margin-left: 0;

    ul {
        margin-left: 15px;
    }

    a {
        display: block;
    }

    li {
        @include position(relative);
    }
}

.sub-menu {
    li {
        font-size: $font-size-tiny;
    }
}

#header {
    .menu-toggle {
        @include paragraph;
        
        text-align: center;

        a {
            display: block;
        }
    }

    .site-navigation {
        @include paragraph;

        display: none;

        &.show {
            display: block;
        }
        
        .search-wrap {
            @include paragraph;

            margin-top: 0;
        }
    }
}

.sub-menu-toggle {
    @include position(absolute, 0 0 null null);
    
    background-color: transparent;
    font-size: inherit;
    width: auto;
    padding: 4px 7px;
    margin: 0;
    z-index: 1;
}

/** Header Menu */

@media (min-width: map-get($breakpoints, wide)) {
    #header {
        .site-navigation {
            margin-bottom: 0;
            display: block;
        }

        .menu-toggle {
            display: none;
        }

        .menu {
            // text-align: center;
            
            li {
                margin: 0;
            }

            > li {
                @include inline-block;
                
                margin-left: 2%;

                &:first-child {
                    margin-left: 0;
                }
            }

            ul,
            li:hover ul ul,
            li li:hover ul ul,
            li li li:hover ul ul ,
            li li li li:hover ul ul,
            li li li li li:hover ul ul {
                display: none; /* Required to hide menu when inactive */
            }

            li:hover ul,
            li li:hover ul,
            li li li:hover ul ,
            li li li li:hover ul,
            li li li li li:hover ul {
                display: block;
            }

            ul {
                @include position(absolute, 22 null null 0);
                
                width: 200px;
                margin: 0;
                padding: 0;
                z-index: 99;

                ul {
                    top: 0;
                    left: 200px;
                }
            }
        }
    }

    // .sub-menu {
    //     text-align: left;
    // }

    .has-js {
        #header .site-navigation {
            .menu {
                .menu-item-has-children {
                    > a {
                        padding-right: 22px;
                    }
                }

                ul,
                li:hover ul ul,
                li li:hover ul ul,
                li li li:hover ul ul ,
                li li li li:hover ul ul,
                li li li li li:hover ul ul {
                    display: block;
                }
            }
        }
    }
}
