////
/// Mixins
////

@import '../vendor/@grottopress/scss/src/mixins';

/// Hobbit
///
/// For areas that require smaller sizes of everything
@mixin hobbit {
    // font-size: map-get($jentil-font-size, small);

    p,
    hr,
    ul,
    ol,
    table,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    dd,
    blockquote,
    .search-wrap {
        @include paragraph(10px);
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    // li {
    //     @include paragraph(5px);
    // }

    ul,
    ol {
        ul,
        ol {
            @include paragraph(5px);
        }
    }

    .form.search {
        margin: 0;
    }
}
