/**
 * Basic styles
 */

.page-builder-blank-php {
    padding-left: 0;
    padding-right: 0;

    #wrap {
        max-width: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, wide)) {
    .page-builder-blank-php {
        #wrap {
            max-width: none;
        }
    }
}
