////
/// Basic styles
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kusi Adusei](https://twitter.com/akadusei)
////

/**
 * Basic styles
 */

.page-builder-blank-php {
    padding-left: 0;
    padding-right: 0;

    #wrap {
        max-width: none;
    }
}

@media (min-width: map-get($jentil-breakpoint, wide)) {
    .page-builder-blank-php {
        #wrap {
            max-width: none;
        }
    }
}
