/**
 * Posts
 */

.archive-description {
    @include paragraph(10px);

    color: $jentil-font-light;
}

.page-title,
.page.has-magpack-posts .page-header .entry-title {
    color: $jentil-font-lighter;
    font-size: 22px;
}

.entry-content,
.pagination {
    @include paragraph;
    @include clearfix;
}

/** Page Header */

.page-header {
    @include paragraph;
    @include clearfix;

    .archive & .avatar {
        margin-right: 15px;
    }

    .entry-title {
        @include paragraph(10px);
    }

    .singular-post.big & {
        .entry-meta {
            line-height: map-get($jentil-line-height, normal);

            p {
                margin: 0;
            }

            .avatar {
                @include float(left);

                margin-right: 10px;
            }
        }

        .entry-title {
            font-size: 29px;
        }
    }
}

@media (min-width: map-get($jentil-breakpoint, medium)) {
    .page-header {
        .singular-post.big & {
            .entry-title {
                font-size: 34px;
            }
        }
    }
}

/** Attachment */

.parent.entry-title {
    font-size: map-get($jentil-font-size, small);
}

.attachment {
    .image-pagination {
        .prev {
            @include float(left);
        }

        .next {
            @include float(right);
        }
    }

    .entry-caption {
        text-align: center;
        font-size: map-get($jentil-font-size, small);
        line-height: map-get($jentil-line-height, normal);
        margin-top: 10px;
    }
}

.entry-attachment {
    text-align: center;

    &.image {
        .image-wrap {
            background-color: #000;
            line-height: 1px;
        }
    }
}

/** Sticky posts */

.sticky-posts {
    @include paragraph;
    @include border-radius(3px);

    background-color: $jentil-text-background;
    padding: 20px;

    &.layout-grid {
        padding: 10px;
        margin: 0;

        @include paragraph;
    }
}

/** Related posts */

#related-posts-wrap {
    @include paragraph;
}

/** Avatar */

.avatar {
    @include border-radius(50%);
    @include float(left);

    margin-right: 10px;
}
