////
/// Custom Logo
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kusi Adusei](https://twitter.com/akadusei)
////

/**
 * Sidebar
 */

.site-sidebar {
    @include hobbit;
}
