////
/// Variables
////

@import '../vendor/@grottopress/scss/src/variables';

// Breakpoints
$jentil-breakpoint: (medium: 800px, wide: 960px) !default;

// Gutters: used for layouts.
$jentil-gutter: (tiny: 5px, small: 10px, normal: 20px) !default;

// Horizontal separator
$jentil-separator: 1px solid #ddd !default;

// Layouts
$jentil-sidebar-content: 33.34% !default;
$jentil-sidebar-content-sidebar: (primary: 26.32%, secondary: 21.06%) !default;
$jentil-sidebar-sidebar-content: (primary: 26.32%, both: 47.38%) !default;

// Font colors
$jentil-font-color: (light: #777, lighter: #999) !default;

// Font sizes
$jentil-font-size: (
    tiny: 13px,
    small: 14px,
    normal: 16px,
    magnified: 1.2em,
) !default;

// Line heights
$jentil-line-height: (small: 140%, normal: 160%) !default;

// Background for text
$jentil-text-background: #f4f4f4 !default;
