////
/// WordPress styles
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

/**
 * WordPress
 */

/** Alignment */

.alignleft {
    @include float(left);
    
    margin-right: 20px;
    margin-bottom: 20px;
}

.alignright {
    @include float(right);
    
    margin-bottom: 20px;
    margin-left: 20px;
}

.aligncenter {
    display: block;
    margin: 0 auto 20px;
}

/** Caption */

.wp-caption {
    line-height: $line-height-normal;
    max-width: 100%;
}

.wp-caption-text {
    padding: 0 5px;
    font-size: $font-size-small;
    color: $font-color-lighter;
}

.wp-smiley {
    max-height: 1em;
    margin: 0 !important;
}

/** Gallery */

.gallery {
    @include border-radius(3px);
    @include grid((
        gutter: 10px,
        font-size: $font-size-tiny,
        width: auto,
    ));

    background-color: $text-background;
    padding: 0 5px 10px;
    margin-left: 0;
    margin-right: 0;

    img {
        @include border-radius(3px);

        border: $separator;

        &:hover {
            border-color: #ccc;
        }
    }
}

.gallery { // Override previous
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.gallery-item {
    line-height: $line-height-normal;
}

.gallery-caption {
    @include screen-reader;
    
    color: $font-color-light;
    font-size: $font-size-tiny;
}

.gallery-icon {
    a {
        display: block;
        line-height: 1px;
    }
}
