/**
 * Main stylesheet
 *
 * This file contains the theme's styles.
 *
 * @link              https://jentil.grottopress.com
 * @package           jentil
 * @since             Jentil 0.1.0
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: sans-serif;
    font-size: 10px;
    -webkit-text-size-adjust: none;

    text-align: center;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	line-height: 160%;
  	text-align: left;

	-ms-word-wrap: break-word;
	word-wrap: break-word;

	background-color: #fff;
	color: #333;
	width: 100%;
	overflow-x: hidden;
}

/**
 * Hyperlinks
 */

a {
    text-decoration: none;
	/*font-size: 100%;*/
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 140%;
}

h1 {
    font-size: 29px;
    font-size: 2.9rem;
}

h2 {
    font-size: 26px;
    font-size: 2.6rem;
}

h3 {
    font-size: 23px;
    font-size: 2.3rem;
}

h4 {
    font-size: 20px;
    font-size: 2.0rem;
}

h5 {
    font-size: 17px;
    font-size: 1.7rem;
}

h6 {
    font-size: 14px;
    font-size: 1.4rem;
}

/**
 * Definition Lists
 */

dl {
	margin-left: 30px;
	margin-right: 30px;
}

dt {
	font-weight: bold;
}

/**
 * Miscellaneous
 */

header:empty,
p:empty {
    display: none;
}

strong {
	font-weight: bold;
}

*:focus {
    outline: none;
}

em,
i,
q,
var {
	font-style: italic;
}

q {
    font-size: 1.2em;
}

del {
    text-decoration: line-through;
}

/*q:before,
q:after {
	content: "\"";
}*/

pre,
code,
tt {
	font-family: Monaco, monospace;
}

pre {
	padding: 15px;
	border: 1px solid #ddd;
	overflow: auto;
	background: #f6f6f6;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 160%;

	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

abbr,
acronym {
	border: 0;
	cursor: help;
}

ins {
	text-decoration: none;
}

sup,
sub {
	height: 0;
	line-height: 1px;
	vertical-align: baseline;
	position: relative;

}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

/**
 * Common margins
 */

p,
hr,
ul,
ol,
table,
form,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
dd,
blockquote,
#main-wrap,
.widget,
#container,
.site-sidebar,
#header-wrap,
.search-wrap,
.archive-description,
#content > header {
    margin-top: 20px;
    margin-bottom: 20px;
}

p:first-child,
hr:first-child,
ul:first-child,
ol:first-child,
table:first-child,
form:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
pre:first-child,
dd:first-child,
blockquote:first-child,
#main-wrap:first-child,
.widget:first-child,
#container:first-child,
.site-sidebar:first-child,
#header-wrap:first-child,
.search-wrap:first-child,
.archive-description:first-child,
#content > header:first-child {
    margin-top: 0;
}

p:last-child,
hr:last-child,
ul:last-child,
ol:last-child,
table:last-child,
form:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
pre:last-child,
dd:last-child,
blockquote:last-child,
#main-wrap:last-child,
.widget:last-child,
#container:last-child,
.site-sidebar:last-child,
#header-wrap:last-child,
.search-wrap:last-child,
.archive-description:last-child,
#content > header:last-child {
    margin-bottom: 0;
}

li,
ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

li:first-child,
ul ul:first-child,
ul ol:first-child,
ol ol:first-child,
ol ul:first-child {
    margin-top: 0;
}

li:last-child,
ul ul:last-child,
ul ol:last-child,
ol ol:last-child,
ol ul:last-child {
    margin-bottom: 0;
}

#main-wrap:first-child #main {
    padding-top: 20px;
}

#main-wrap:last-child #main {
    padding-bottom: 20px;
}

/**
 * Hobbit: Areas that require smaller dimensions/sizes
 */

.hobbit p,
.hobbit hr,
.hobbit ul,
.hobbit ol,
.hobbit table,
.hobbit form,
.hobbit h1,
.hobbit h2,
.hobbit h3,
.hobbit h4,
.hobbit h5,
.hobbit h6,
.hobbit pre,
.hobbit dd,
.hobbit blockquote,
blockquote p,
.hobbit .search-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hobbit p:first-child,
.hobbit hr:first-child,
.hobbit ul:first-child,
.hobbit ol:first-child,
.hobbit table:first-child,
.hobbit form:first-child,
.hobbit h1:first-child,
.hobbit h2:first-child,
.hobbit h3:first-child,
.hobbit h4:first-child,
.hobbit h5:first-child,
.hobbit h6:first-child,
.hobbit pre:first-child,
.hobbit dd:first-child,
.hobbit blockquote:first-child,
blockquote p:first-child,
.hobbit .search-wrap:first-child {
    margin-top: 0;
}

.hobbit p:last-child,
.hobbit hr:last-child,
.hobbit ul:last-child,
.hobbit ol:last-child,
.hobbit table:last-child,
.hobbit form:last-child,
.hobbit h1:last-child,
.hobbit h2:last-child,
.hobbit h3:last-child,
.hobbit h4:last-child,
.hobbit h5:last-child,
.hobbit h6:last-child,
.hobbit pre:last-child,
.hobbit dd:last-child,
.hobbit blockquote:last-child,
blockquote p:last-child,
.hobbit .search-wrap:last-child {
    margin-bottom: 0;
}

.hobbit h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

.hobbit h2 {
    font-size: 22px;
    font-size: 2.2rem;
}

.hobbit h3 {
    font-size: 20px;
    font-size: 2rem;
}

.hobbit h4 {
    font-size: 18px;
    font-size: 1.8rem;
}

.hobbit h5 {
    font-size: 16px;
    font-size: 1.6rem;
}

.hobbit h6 {
    font-size: 14px;
    font-size: 1.4rem;
}

.hobbit ul ul,
.hobbit ul ol,
.hobbit ol ol,
.hobbit ol ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hobbit ul ul:first-child,
.hobbit ul ol:first-child,
.hobbit ol ol:first-child,
.hobbit ol ul:first-child {
    margin-top: 0;
}

.hobbit ul ul:last-child,
.hobbit ul ol:last-child,
.hobbit ol ol:last-child,
.hobbit ol ul:last-child {
    margin-bottom: 0;
}

/*.hobbit {
    font-size: 13px;
    font-size: 1.3rem;
}*/

/**
 * Screen reader text
 */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	/*left: -9999px;
	top: auto;*/
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/**
 * Rebuild normalized styles
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
	/*clear: both;*/
}

figure {
	margin: 0;
}

/**
 * Responsive embeds
 */

img,
iframe,
object,
embed,
video,
audio,
iframe[style],
object[style],
embed[style],
.wp-caption,
input,
textarea,
select,
button {
	max-width: 100%;
}

img {
	height: auto;
}

/**
 * Lists
 */

ul,
ol {
	list-style-image: none;
	margin-left: 30px;
	padding-left: 0;
}

ul {
	list-style-type: square;
}

ul ul {
    list-style-type: circle;
}

/*ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: circle;
}*/

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: upper-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ol ol ol ol ol {
	list-style: lower-roman;
}

li {
	display: list-item;
}

/**
 * Widgets
 */

.widget-title,
.hobbit .widget-title {
    font-size: 18px;
    font-size: 1.8rem;
}

/**
 * Footer elements
 */

#footer {
    padding-bottom: 10px;
}

#colophon {
    text-align: center;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 160%;
}

#colophon small {
    font-size: 13px;
    font-size: 1.3rem;
}

#footer .widget {
    margin-bottom: 20px;
}

/**
 * Header elements
 */

#header {
    padding-top: 20px;
    font-size: 0; /* Inline-block whitespace fix */
    text-align: center;
}

#header > * {
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
}

#header .custom-logo,
#header .search-wrap {
    margin-top: 0;
    margin-bottom: 20px;
}

#header .custom-logo:last-child,
#header .search-wrap:last-child {
    margin-bottom: 0;
}

#header .custom-logo-link {
    line-height: 1px;

    display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

#header .site-navigation,
#header .menu-toggle {
    clear: both;
}

.navigation-wrap.max-screen-920,
#header .menu-toggle,
#header .site-navigation.min-screen-920 {
    margin-top: 20px;
}

.navigation-wrap.max-screen-920 {
    margin-bottom: 20px;
}

/*#header .max-screen-920 {
    margin-top: 20px;
}*/

/**
 * Layout
 */

#header,
#main,
#footer,
.navigation-wrap.max-screen-920 .site-navigation {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#header-wrap,
#main-wrap,
#footer-wrap,
.navigation-wrap.max-screen-920 {
    padding-left: 20px;
    padding-right: 20px;
}

/**
 * Tables
 */

table {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 160%;
	/*table-layout: fixed;*/
	width: 100%;
	/*border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
}

tr,
td,
th,
tfoot,
thead,
tbody {
	margin: 0;
	border: 0;
}

/*tr,
tfoot,
thead,
tbody {
	width: 100%;
}*/

tr:nth-child(even) {
	background-color: #f6f6f6;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

thead tr,
thead tr:nth-child(even)
tfoot tr,
tfoot tr:nth-child(even) {
	background: transparent;
	border: 0;
}

td,
th {
	padding: 7px 10px;
}

th {
	font-weight: bold;
	text-align: left;
}

tr:nth-child(even) td,
tr:nth-child(even) th {
	padding: 5px 10px;
}

/*tfoot, thead {
	text-align: center;
}*/

thead {
	font-weight: bold;
	border-top: 1px solid #ddd;
}

tfoot {
	font-style: italic;
	border-bottom: 1px solid #ddd;
}

/**
 * Align
 */

.alignleft,
.alignright {
    display: inline;
    margin-bottom: 20px;
}

.alignleft {
	float: left;
  	margin-right: 20px;
}

.alignright {
	float: right;
  	margin-left: 20px
}

.aligncenter {
	display: block;
	margin: 0 auto 20px;
}

table.aligncenter {
	display: table;
}

/**
 * Caption
 */

.wp-caption {
	line-height: 160%;
}

.wp-caption-text {
	margin: 0 5px 10px;
	font-size: 13px;
	font-size: 1.3rem;
	color: #999;
}

.wp-caption-text.gallery-caption {
    color: #777;
}

.wp-smiley {
	max-height: 1em;
	margin: 0 !important;
}

/**
 * Gallery
 */

.gallery {
	font-size: 0; /* Inline-block whitespace fix */
	line-height: 160%;
	padding: 15px 5px 5px 15px;
	background: #f6f6f6;
}

.gallery-item {
	font-size: 13px;
	font-size: 1.3rem;
	margin-bottom: 10px;
	margin-right: 10px;

	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.gallery img {
	border: 3px solid #ddd !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.gallery img:hover {
	border-color: #ccc !important;
}

.gallery-caption {
	padding: 5px 15px;
	color: #777;
}

.gallery-icon a {
	display: block;
	line-height: 1px;
}

/**
 * Blockquotes
 */

blockquote {
	margin-left: 10px;
	margin-right: 0;
	padding-left: 10px;
	border-left: 5px solid #ddd;
	font-size: 1.2em;
	color: #999;
	font-style: italic;
}

/*blockquote:before {
	content: '\201C';
	margin-left: -20px;
	font-size: 26px;
	font-weight: bold;
}*/

/**
 * Menus
 */

.menu,
.sub-menu {
	list-style-type: none;
	list-style-image: none;
}

.menu {
	margin-left: 0;
	font-size: 0;
}

.menu ul {
    margin-left: 15px;
}

.menu a {
	display: block;
}

.menu li {
    font-size: 14px; /* Resetting fixes in parent .menu element */
    font-size: 1.4rem;
    position: relative;
}

.sub-menu li {
    font-size: 13px;
    font-size: 1.3rem;
}

.menu-toggle .menu {
    text-align: center;
}

/*.menu-toggle .menu a:before {
    content: "\2261";
    line-height: 14px;
    margin-right: 5px;
}*/

/** Toggle buttons */

.sub-menu-toggle {
    background-color: transparent;
    font-size: inherit;
    width: auto;
    padding: 4px 7px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

/*.sub-menu-toggle:before {
    content: "\25B4";
    font-weight: bold;
    color: #999;
}

.sub-menu-toggle.closed:before {
    content: "\25BE";
}*/

/**
 * Toggle elements
 */

.min-screen-800,
.min-screen-920 {
    display: none;
}

/*.max-screen-920,
.max-screen-800 {
    display: block;
}*/

#header .search-wrap {
    display: none;
}

.navigation-wrap.max-screen-920 .search-wrap {
    display: block;
}

/**
 * Comments
 */

.commentlist p,
.commentlist hr,
.commentlist ul,
.commentlist ol,
.commentlist table,
.commentlist form,
.commentlist h1,
.commentlist h2,
.commentlist h3,
.commentlist h4,
.commentlist h5,
.commentlist h6,
.commentlist pre,
.commentlist dd,
.commentlist blockquote,
.comment-meta,
.comment-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentlist p:first-child,
.commentlist hr:first-child,
.commentlist ul:first-child,
.commentlist ol:first-child,
.commentlist table:first-child,
.commentlist form:first-child,
.commentlist h1:first-child,
.commentlist h2:first-child,
.commentlist h3:first-child,
.commentlist h4:first-child,
.commentlist h5:first-child,
.commentlist h6:first-child,
.commentlist pre:first-child,
.commentlist dd:first-child,
.commentlist blockquote:first-child,
.comment-meta:first-child,
.comment-content:first-child {
    margin-top: 0;
}

.commentlist p:last-child,
.commentlist hr:last-child,
.commentlist ul:last-child,
.commentlist ol:last-child,
.commentlist table:last-child,
.commentlist form:last-child,
.commentlist h1:last-child,
.commentlist h2:last-child,
.commentlist h3:last-child,
.commentlist h4:last-child,
.commentlist h5:last-child,
.commentlist h6:last-child,
.commentlist pre:last-child,
.commentlist dd:last-child,
.commentlist blockquote:last-child,
.comment-meta:last-child,
.comment-content:last-child {
    margin-bottom: 0;
}

.commentlist h1 {
    font-size: 28px;
    font-size: 2.8rem;
}

.commentlist h2 {
    font-size: 25px;
    font-size: 2.5rem;
}

.commentlist h3 {
    font-size: 22px;
    font-size: 2.2rem;
}

.commentlist h4 {
    font-size: 19px;
    font-size: 1.9rem;
}

.commentlist h5 {
    font-size: 16px;
    font-size: 1.6rem;
}

.commentlist h6 {
    font-size: 13px;
    font-size: 1.3rem;
}

.commentlist li,
.commentlist ul ul,
.commentlist ul ol,
.commentlist ol ol,
.commentlist ol ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.commentlist li:first-child,
.commentlist ul ul:first-child,
.commentlist ul ol:first-child,
.commentlist ol ol:first-child,
.commentlist ol ul:first-child {
    margin-top: 0;
}

.commentlist li:last-child,
.commentlist ul ul:last-child,
.commentlist ul ol:last-child,
.commentlist ol ol:last-child,
.commentlist ol ul:last-child {
    margin-bottom: 0;
}

#comments {
    margin-top: 20px;
}

.commentlist > li,
.commentlist .children > li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.commentlist > li:first-child,
.commentlist .children > li:first-child {
    margin-top: 0;
}

.commentlist > li:last-child,
.commentlist .children > li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-width: 0;
}

.commentlist {
    margin-left: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.commentlist .children {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.commentlist .children:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top-width: 0;
}

/*.commentlist {
    font-size: 13px;
    font-size: 1.3rem;
}*/

.commentlist,
.commentlist .children {
    list-style-type: none;
}

#comments-list {
    margin-bottom: 20px;
}

.comment-meta,
.commentlist .reply,
#cancel-comment-reply-link {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 160%;
}

.comment-meta,
.commentlist .reply {
    color: #999;
}

/*.comment-meta a,
.commentlist .reply a,
#cancel-comment-reply-link {
    color: #999;
}*/

.comment-meta .edit-link:before {
    content: "| ";
}

.commentlist .reply,
#cancel-comment-reply-link {
    text-align: right;
}

#cancel-comment-reply-link {
    font-weight: normal;
}

#reply-title > small {
    margin-left: 20px;
}

.comment-author .avatar {
    float: left;
    display: inline;
    margin-right: 10px;
}

.comment-form .form-submit {
    margin-bottom: 0;
}

.comment-notes,
.logged-in-as {
    color: #999;
    font-size: 13px;
    font-size: 1.3rem;
}

.required {
    color: red;
}

.comment-meta:after,
.comment-content:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .comment-meta,
* html .comment-content {
    zoom: 1;
} /* IE6 */

*:first-child+html .comment-meta,
*:first-child+html .comment-content {
    zoom: 1;
} /* IE7 */

/**
 * Form elements
 */

form {
	font-size: 0; /* Inline block whitespace fix */
}

form > * {
    font-size: 14px;
	font-size: 1.4rem;
}

input,
textarea,
select,
button,
label {
    display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

input,
textarea,
select,
button {
	border: 1px solid #ddd;
	padding: 5px 7px;
	margin-bottom: 4px;
	width: 100%;
    background-color: #fff;

	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
	border-color: #ccc;
}

input,
button {
	overflow: visible; /* IE6 fix */
}

input:disabled {
	background-color: #f6f6f6 !important;
	color: initial !important;
	border-color: initial !important;
	border-width: 1px !important;
}

input[type="checkbox"],
input[type="radio"] {
	margin-left: 5px;
	margin-right: 5px;
}

input[type="submit"],
input[type="button"],
button {
	height: auto;
	cursor: pointer;
	border: 0;
	border-left: 1px solid rgba(0,0,0,0.0); /* Fix background color not showing in opera mini */
	padding: 7px 10px 8px;
	font-weight: bold;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 100%;
	text-align: center;
    background-color: #ddd;
}

input[type="submit"]:focus,
input[type="button"]:focus {
    border-width: 0;
}

label {
	font-size: 13px;
	font-size: 1.3rem;
	width: 100%;
}

label > * {
	font-size: 14px;
	font-size: 1.4rem;
}

/** Search form */

.form.search {
    margin: 0;
    border: 1px solid #ddd;
    padding: 1px;
    position: relative;

    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.form.search:focus {
    border-color: #ccc;
}

.form.search input[type="search"],
.form.search button[type="submit"] {
    margin-bottom: 0;
}

.form.search input[type="search"] {
    border: 0;
    width: 100%;

    -moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.form.search button[type="submit"] {
    border: 0;
    width: auto;
    font-size: 12px;
    font-size: 1.2rem;
    text-align: right;
    padding: 7px 10px;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
}

/**
 * Post elements
 */

.archive-description {
    font-size: 13px;
	font-size: 1.3rem;
	line-height: 160%;
	margin-left: 20px;
	margin-right: 20px;
}

.page-title,
.page.has-magpack-posts #content > .posts-wrap > .post-wrap > header > .entry-title {
    color: #999;
    font-size: 22px;
    font-size: 2.2rem;
}

.page-title span {
    color: #333;
}

/** Attachment */

.attachment .parent.entry-title {
    font-size: 14px;
    font-size: 1.4rem;
}

/*.attachment .pagination {
    text-align: center;
}*/

.attachment .pagination a {
    display: inline;
}

.attachment .pagination a:nth-child(1) {
    float: left;
}

.attachment .pagination a:nth-child(2) {
    float: right;
}

.entry-attachment,
.attachment .entry-caption {
    text-align: center;
}

.entry-attachment.image a {
    background-color: #000;
    line-height: 1px;
    display: block;
}

.attachment .entry-caption {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 160%;
    margin-top: 10px;
    /*color: #999;*/
}

/** Sticky posts */

.sticky-posts {
    padding: 20px;
    background-color: #f6f6f6;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/** Single posts */

.singular-post > .post-wrap > header > .entry-meta {
    line-height: 160%;
}

.singular-post > .post-wrap > header > .entry-meta p {
    margin: 0;
}

.singular-post > .post-wrap > header > .entry-meta .avatar {
	display: inline;
	float: left;
}

.singular-post > .post-wrap > header > .entry-title {
    font-size: 29px;
    font-size: 2.9rem;
}

/** Avatar */

.avatar {
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

@media (min-width: 800px) {
    /**
     * Headings
     */

    h1 {
        font-size: 34px;
        font-size: 3.4rem;
    }

    h2 {
        font-size: 30px;
        font-size: 3rem;
    }

    h3 {
        font-size: 26px;
        font-size: 2.6rem;
    }

    h4 {
        font-size: 22px;
        font-size: 2.2rem;
    }

    h5 {
        font-size: 18px;
        font-size: 1.8rem;
    }

    h6 {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .hobbit h1 {
        font-size: 29px;
        font-size: 2.9rem;
    }

    .hobbit h2 {
        font-size: 26px;
        font-size: 2.6rem;
    }

    .hobbit h3 {
        font-size: 23px;
        font-size: 2.3rem;
    }

    .hobbit h4 {
        font-size: 20px;
        font-size: 2rem;
    }

    .hobbit h5 {
        font-size: 17px;
        font-size: 1.7rem;
    }

    .hobbit h6 {
        font-size: 14px;
        font-size: 1.4rem;
    }

    /**
     * Header elements
     */

    #header {
        text-align: left;
    }

    /**
     * Toggle elements
     */

    .max-screen-800 {
        display: none;
    }

    .min-screen-800 {
        display: block;
    }

    #header .search-wrap {
        width: 35%;
        float: right;
        display: inline;
        margin-top: 15px;
    }

    .navigation-wrap.max-screen-920 .search-wrap {
        display: none;
    }

    /**
     * Layout
     */

    #header,
    #main,
    #footer,
    .navigation-wrap.max-screen-920 .site-navigation {
        max-width: 960px;
    }

    .page.layout-one-column #content > .posts-wrap > .post-wrap > .entry-content,
    .single.layout-one-column #content > .posts-wrap > .post-wrap > .entry-content {
    	max-width: 700px;
    	margin-left: auto;
    	margin-right: auto;
    }

    .page.has-magpack-posts.layout-one-column #content > .posts-wrap > .post-wrap > .entry-content,
    .attachment.layout-one-column #content > .posts-wrap > .post-wrap > .entry-content {
        max-width: none;
    }

    .attachment.layout-one-column .entry-content {
        max-width: none;
    }

    /** Two Columns, Right Sidebar */

    #container,
    .layout-content-sidebar #container {
    	float: left;
    	width: 100%;
    	margin: 0;
    	margin-right: -260px;
    }

    #content,
    .layout-content-sidebar #content {
    	margin-right: 260px;
    }

    #primary,
    .layout-content-sidebar #primary {
    	float: right;
    	width: 240px;
    	margin: 0;
    }

    #secondary {
        margin: 0;
    }

    /** Two Columns, Left Sidebar */

    .layout-sidebar-content #container {
    	float: right;
    	margin-left: -260px;
    	margin-right: 0;
    }

    .layout-sidebar-content #content {
    	margin-left: 260px;
    	margin-right: 0;
    }

    .layout-sidebar-content #primary {
    	float: left;
    }

    /** Three Columns, Left & Right Sidebars */

    .layout-sidebar-content-sidebar #container {
    	float: left;
    	margin-right: 0;
    }

    .layout-sidebar-content-sidebar #content {
    	/** Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth */
    	margin-right: 180px;
    	margin-left: 160px;
    }

    .layout-sidebar-content-sidebar #primary,
    .layout-sidebar-content-sidebar #secondary {
    	float: left;
    }

    .layout-sidebar-content-sidebar #secondary {
    	margin-left: -100%;
    	width: 140px; /** Width of left column */
    }

    .layout-sidebar-content-sidebar #primary {
    	margin-left: -160px; /** Set left margin to -(RightColumnWidth) */
    	width: 160px; /** Width of right column */
    }

    /** Three Columns, Two Left Sidebars */

    .layout-sidebar-sidebar-content #container {
    	float: right;
    	margin-right: 0;
    }

    .layout-sidebar-sidebar-content #content {
    	margin-right: 0;
    	margin-left: 340px; /** Set right margin to (LeftColumnWidth + RightColumnWidth) */
    }

    .layout-sidebar-sidebar-content #secondary {
    	float: right;
    	width: 140px; /** Width of left column in pixels */
    	margin-right: -320px; /** Set right margin to -(LeftColumnWidth + RightColumnWidth) */
    }

    .layout-sidebar-sidebar-content #primary {
    	float: right;
    	width: 160px; /** Width of right column in pixels */
    	margin-right: -160px; /** Set margin to -(RightColumnWidth) */
    }

    /** Three Columns, Two Right Sidebars */

    .layout-content-sidebar-sidebar #container {
    	float: left;
    	margin-right: 0;
    }

    .layout-content-sidebar-sidebar #content {
    	margin-right: 340px; /** Set right margin to (LeftColumnWidth + RightColumnWidth) */
    }

    .layout-content-sidebar-sidebar #secondary {
    	float: left;
    	width: 140px; /** Width of left column in pixels */
    	margin-left: -320px; /** Set left margin to -(LeftColumnWidth + RightColumnWidth) */
    }

    .layout-content-sidebar-sidebar #primary {
    	float: left;
    	width: 160px; /** Width of right column in pixels */
    	margin-left: -160px; /** Set margin to -(RightColumnWidth) */
    }

    /** Full width columns */

    .layout-content #container {
        margin-right: 0;
        float: none;
    }

    .layout-content #content {
        margin-right: 0;
    }

    /**
     * Footer elements
     */

    #footer .widget-area {
        font-size: 0; /** Fixing whitespace on inline-block child elements */
        margin-left: -10px;
        margin-right: -10px;
    }

    #footer .widget {
        font-size: 14px;
        font-size: 1.4rem; /** Overriding zero font-size on parent */
        margin-top: 0;
        width: 25%;
        padding: 0 10px;

        display: -moz-inline-stack;
    	display: inline-block;
    	zoom: 1;
    	*display: inline;
    	vertical-align: top;
    }

    /**
     * Post elements
     */

    /** Single posts */

    .singular-post > .post-wrap > header > .entry-title {
        font-size: 34px;
        font-size: 3.4rem;
    }

    /**
     * Global overrides
     */

    #container {
        margin-bottom: 0;
    }
}

@media (min-width: 920px) {
    /**
     * Layouts
     */

    /** Two Columns, Right Sidebar */

    #container,
    .layout-content-sidebar #container {
    	margin-right: -320px;
    }

    #content,
    .layout-content-sidebar #content {
    	margin-right: 320px;
    }

    #primary,
    .layout-content-sidebar #primary {
    	width: 300px;
    }

    /** Two Columns, Left Sidebar */

    .layout-sidebar-content #container {
    	margin-left: -320px;
    }

    .layout-sidebar-content #content {
    	margin-left: 320px;
    }

    /** Three Columns, Left & Right Sidebars */

    .layout-sidebar-content-sidebar #content {
    	/** Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth */
    	margin-right: 260px;
    	margin-left: 180px;
    }

    .layout-sidebar-content-sidebar #secondary {
    	width: 160px; /** Width of left column */
    }

    .layout-sidebar-content-sidebar #primary {
    	margin-left: -240px; /** Set left margin to -(RightColumnWidth) */
    	width: 240px; /** Width of right column */
    }

    /** Three Columns, Two Left Sidebars */

    .layout-sidebar-sidebar-content #content {
    	margin-left: 440px; /** Set right margin to (LeftColumnWidth + RightColumnWidth) */
    }

    .layout-sidebar-sidebar-content #secondary {
    	width: 160px; /** Width of left column in pixels */
    	margin-right: -420px; /** Set left margin to -(LeftColumnWidth + RightColumnWidth) */
    }

    .layout-sidebar-sidebar-content #primary {
    	width: 240px; /** Width of right column in pixels */
    	margin-right: -240px; /** Set margin to -(RightColumnWidth) */
    }

    /** Three Columns, Two Right Sidebars */

    .layout-content-sidebar-sidebar #content {
    	margin-right: 440px; /** Set right margin to (LeftColumnWidth + RightColumnWidth) */
    }

    .layout-content-sidebar-sidebar #secondary {
    	width: 160px; /** Width of left column in pixels */
    	margin-left: -420px; /** Set left margin to -(LeftColumnWidth + RightColumnWidth) */
    }

    .layout-content-sidebar-sidebar #primary {
    	width: 240px; /** Width of right column in pixels */
    	margin-left: -240px; /** Set margin to -(RightColumnWidth) */
    }

    /** Full width columns */

    .layout-content #container {
    	margin-right: 0;
    	float: none;
    }

    .layout-content #content {
    	margin-right: 0;
    }

    /**
     * Toggle elements
     */

    .max-screen-920 {
        display: none;
    }

    .min-screen-920 {
        display: block;
    }

    .navigation-wrap.max-screen-920 {
        display: none !important;
    }

    /**
     * Menus
     */

    #header .menu li {
        margin: 0;
    }

    #header .menu > li {
    	margin-left: 2%;

    	display: -moz-inline-stack;
    	display: inline-block;
    	zoom: 1;
    	*display: inline;
    	vertical-align: top;
    }

    .has-js #header .menu .menu-item-has-children > a {
        padding-right: 22px;
    }

    #header .menu > li:first-child {
    	margin-left: 0;
    }

    #header .menu ul {
    	width: 200px;
    	position: absolute;
    	top: 22px;
    	left: 0;
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
    	z-index: 99;
    }

    #header .menu ul ul {
    	top: 0;
    	left: 200px;
    }

    #header .menu ul,
    #header .menu li:hover ul ul,
    #header .menu li li:hover ul ul,
    #header .menu li li li:hover ul ul ,
    #header .menu li li li li:hover ul ul,
    #header .menu li li li li li:hover ul ul {
    	display: none; /* Required to hide menu when inactive */
    }

    #header .menu li:hover ul,
    #header .menu li li:hover ul,
    #header .menu li li li:hover ul ,
    #header .menu li li li li:hover ul,
    #header .menu li li li li li:hover ul {
    	display: block;
    }

    /** Toggle buttons */

    /*#header .menu > li > .sub-menu-toggle {
        right: 0;
    }*/

    /*#header .sub-menu .sub-menu-toggle:before {
        content: "\25C2";
    }

    #header .sub-menu .sub-menu-toggle.closed:before {
        content: "\25B8";
    }*/
}