/**
 * Right-to-left language styles
 *
 * This file is automatically loaded by WordPress. It includes
 * right-to-left language style declarations for this theme.
 *
 * @link              https://jentil.grottopress.com
 * @package           jentil
 * @since             Jentil 0.1.0
 */

body {
    text-align: right;
}

/**
 * Screen reader text
 */

.screen-reader-text:focus {
    left: auto;
    right: 5px;
}

/**
 * Lists
 */

ul,
ol {
    margin-left: 0;
    margin-right: 30px;
    padding-right: 0;
}

/**
 * Header elements
 */

#header > * {
    text-align: right;
}

/**
 * Align
 */

/*.alignleft {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.alignright {
    float: left;
    margin-left: 0;
    margin-right: 20px
}*/

/**
 * Gallery
 */

.gallery {
    padding: 15px 15px 5px 5px;
}

.gallery-item {
    margin-right: 0;
    margin-left: 10px;
}

/**
 * Blockquotes
 */

blockquote {
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px;
    border-left: 0;
    border-right: 5px solid #ddd;
}

/**
 * Menus
 */

.menu {
    margin-right: 0;
}

.menu ul {
    margin-left: 0;
    margin-right: 15px;
}

/** Toggle buttons */

.sub-menu-toggle {
    right: auto;
    left: 0;
}

/**
 * Comments
 */

.commentlist {
    margin-right: 0;
}

.commentlist .reply,
#cancel-comment-reply-link {
    text-align: left;
}

.comment-author .avatar {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

/**
 * Form elements
 */

input[type="submit"],
input[type="button"],
button {
    border: 0;
    border-right: 1px solid rgba(0,0,0,0.0); /* Fix background color not showing in opera mini */
}

/** Search form */

.form.search button[type="submit"] {
    text-align: left;
    right: auto;
    left: 1px;
}

/**
 * Post elements
 */

/** Attachment */

.attachment .pagination a:nth-child(1) {
    float: right;
}

.attachment .pagination a:nth-child(2) {
    float: left;
}

/** Single posts */

.singular-post > .post-wrap > header > .entry-meta .avatar {
    float: right;
}

@media (min-width: 800px) {
    /**
     * Header elements
     */

    #header {
        text-align: right;
    }

    /**
     * Toggle elements
     */

    #header .search-wrap {
        float: left;
    }
}

@media (min-width: 920px) {
    /**
     * Menus
     */

    #header .menu li {
        margin: 0;
    }

    #header .menu > li {
        margin-left: 0;
        margin-right: 2%;
    }

    .has-js #header .menu .menu-item-has-children > a {
        padding-right: 0;
        padding-left: 22px;
    }

    #header .menu > li:first-child {
        margin-right: 0;
    }

    #header .menu ul {
        left: auto;
        right: 0;
    }

    #header .menu ul ul {
        left: auto;
        right: 200px;
    }
}